/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-img: url(/images/cover-image-dark.png);
  /* Цвета */
  --color-accent: rgba(255 0 112 / 1);
  --text-color-main-title: rgba(219 0 255 / 1);
  --text-color-subtitle: #000028;
  --text-color-hover: rgba(255 0 112 / 0.4);
  --text-color-regular: rgba(241 178 206 / 1);
  --bg-color: rgba(0 0 40 / 1);
  --color-focus: rgba(255 0 112 / 1);
  --color-shadow: #ff0070;
  --color-decorated: rgba(255 0 112 / 1);
  --color-active: rgba(255 0 112 / 1);
  --text-color-accent: rgba(255 0 112 / 1);
  --text-color-title: #ff0070;
}

:root.theme-dark .header__rec {
  display: block;
}

@media (prefers-color-scheme: dark) {
  
  :root {
    --bg-img: url(/images/cover-image-dark.png);
    --color-accent: rgba(255 0 112 / 1);
    --text-color-main-title: rgba(219 0 255 / 1);
    --text-color-title: rgba(219 0 255 / 1);
    --text-color-subtitle: #000028;
    --text-color-hover: rgba(255 0 112 / 0.4);
    --text-color-regular: rgba(241 178 206 / 1);
    --bg-color: rgba(0 0 40 / 1);
    --color-focus: rgba(255 0 112 / 1);
    --color-shadow: #ff0070;
    --color-decorated: rgba(255 0 112 / 1);
    --color-active: rgba(255 0 112 / 1);
    --text-color-accent: rgba(255 0 112 / 1);
    --text-color-title: #ff0070;
  }
}
