.page {
  background-image: var(--bg-img);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  background-size: cover;
  font-family: var(--font-main);
}

/* Header section */

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  block-size: 100vh;
  min-block-size: 668px;
  padding: var(--sm-space) var(--sm-space) 0;
  position: relative;
}

.decorated-zone::after {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
  right: var(--sm-space);
  top: var(--sm-space);
  border-top: 1px solid var(--text-color-accent);
  border-right: 1px solid var(--text-color-accent);
}

.decorated-zone::before {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
  left: var(--sm-space);
  bottom: var(--sm-space);
  border-bottom: 1px solid var(--text-color-accent);
  border-left: 1px solid var(--text-color-accent);
}

.header__rec {
  position: absolute;
  right: 34px;
  top: var(--sm-space);
  color: var(--color-accent);
  line-height: 1.562rem;
}

.header__rec::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--color-accent);
  border-radius: 50%;
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 4px 2px rgba(255 0 112 / 1);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--sm-space);
  margin-block-start: var(--sm-space);
}

.header__theme-menu-button {
  border: none;
  color: var(--text-color-accent);
  text-transform: lowercase;
  line-height: 1rem;
  padding: 5px 15px;
  position: relative;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--text-color-hover);
}

.header__theme-menu-button:focus-visible::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: var(--text-color-accent);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--color-active);
  pointer-events: none;
}

.main-title {
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-weight: bold;
  line-height: 0.83;
  color: var(--text-color-main-title);
  text-shadow: 4px 4px 0 var(--color-accent);
  justify-self: start;
  align-self: center;
}

.header__subtitle-group {
  justify-self: end;
  align-self: start;
  max-inline-size: 364px;
  line-height: 1.462rem;
  margin-block-start: 2.1875rem;
}

.title-decor {
  background-color: var(--color-accent);
}

.header__subtitle {
  line-height: inherit;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--text-color-subtitle);
}

.header__text {
  line-height: inherit;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--text-color-subtitle);
}

/* End header section */
/* Main section */

.main {
  margin-block-start: var(--lg-space);
  padding: 0 var(--sm-space);
}

.concentration {
  margin-block-end: var(--xlg-space);
}

.concentration__title {
  font-size: 1.125rem;
  line-height: 1.4625rem;
  color: var(--text-color-title);
  font-weight: bold;
}

.concentration__link {
  text-shadow: 2px 2px 0 var(--color-shadow);
  text-decoration: none;
}

.concentration__link:hover {
  text-decoration: underline;
}

.concentration__link:focus-visible {
  outline: 1px solid currentColor;
}

.concentration__title:first-child {
  margin-block-end: var(--md-space);
}

.concentration__subtitle {
  line-height: 1.4625rem;
  font-size: 1.125rem;
  margin-block-start: var(--md-space);
  margin-block-end: var(--sm-space);
  color: var(--text-color-subtitle);
}

.concentration__subtitle--small {
  font-weight: normal;
}

.concentration__text {
  font-size: 1.125rem;
  line-height: 1.4625rem;
  font-weight: normal;
  color: var(--text-color-regular);
}

.concentration__content-wrapper {
  margin-block-start: var(--sm-space);
}

/* Img section */

.concentration__img-wrapper {
  margin-block-start: var(--sm-space);
  /* max-inline-size: 100vw; */
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--sm-space);
}

.concentration__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Footer section */

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* End footer section */

@media (width >= 768px) {

  .concentration {
    margin-block-end: var(--xxxlg-space);
  }

  .concentration:last-child {
    margin-block-end: var(--xxlg-space);
  }

  .main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    padding: var(--md-space) var(--md-space) 0 0;
  }

  .decorated-zone::after {
    right: var(--md-space);
    top: var(--md-space);
  }

  .decorated-zone::before {
    left: var(--md-space);
    bottom: var(--md-space);
  }

  .header__rec {
    top: var(--md-space);
    right: 44px;
  }

  /* Section Why */

  .main {
    margin-block-start: var(--xxlg-space);
    padding: 0 var(--md-space);
  }

  .concentration--why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    gap: var(--md-space);
    margin-block-end: var(--xxxlg-space);
  }

  .concentration--why .concentration__content-wrapper {
    margin-block-start: 0;
  }

  .concentration--why .concentration__subtitle:first-child {
    margin-block-start: 0;
  }

  /* End Section Why */
  /* Section What */

  .concentration--what {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, auto);
  }

  .concentration--what .concentration__content-wrapper {
    margin-block-start: 0;
  }

  .concentration--what .concentration__title--what {
    max-inline-size: 236px;
    margin-block-end: 0;
  }

  /* End Section What */
  /* Section How */

  .concentration--how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--md-space);
  }

  .concentration--how .concentration__content-wrapper {
    margin-block-start: 0;
  }

  .concentration--how .concentration__subtitle:first-child {
    margin-block-start: 0;
  }

  .concentration--gallery {
    margin-block-start: var(--xxxlg-space);
  }
  /* End Section How */

  /* Gallery */

  .concentration__img-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas:
      'sunset sunset  icecream'
      'tape   books     icecream'
      'tape   street    street';
    margin-block-start: var(--md-space);
    gap: var(--md-space);
  }

  .concentration__img--sunset {
    grid-area: sunset;
  }

  .concentration__img--icecream {
    grid-area: icecream;
  }

  .concentration__img--tape {
    grid-area: tape;
  }

  .concentration__img--books {
    grid-area: books;
  }

  .concentration__img--street {
    grid-area: street;
  }
  /* End gallery */
}

.footer__title {
  text-shadow: 2px 2px 0 var(--color-accent);
}

@media (width >= 1024px) {

  .header__subtitle-group {
    max-inline-size: 491px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    margin-block-start: 0;
  }

  /* Section Why */

  .concentration--what .concentration__content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-block-start: var(--md-space);
    gap: var(--md-space);
  }

  .concentration--what .concentration__title--what {
    max-inline-size: 316px;
  }

  .concentration__subtitle--what {
    margin-block-start: 0;
  }

  /* End Section Why */
}
/* End img section */

/* End main section */
